#tbl_MatkulBatal button.export,
#tbl_MatkulTawar button.export,
#tbl_matkulKuri button.export,
#tbl_MhsIpk button.export,
#tbl_DosenMhs button.export,
#tbl_DosenMengajarMhs button.export,
#tbl_KepuasanMhs button.export,
#tbl_DTT button.export,
#tbl_Dosen button.export,
#tbl_MhsTA button.export,
#tbl_lulusan button.export,
#tbl_dosbing button.export,
#tbl_seleksi button.export,
#tbl_lulusanall button.export,
#tbl_lulusanot button.export,
#tbl_mhsrasio button.export,
#tbl_mhssmasmk button.export,
#tbl_mhsasing button.export,
#tbl_mhsprovdaftar button.export,
#tbl_mhsprovlolos button.export,
#tbl_mhsprovregis button.export,
#tbl_Jml button.export,
#tbl_PersenNaik button.export,
#tbl_kpall button.export,
#tbl_kppkm button.export,
#tbl_jafunglast button.export,
#tbl_jafunggrowth button.export,
#tbl_bebanajar button.export,
#tbl_mahasiswaAktif button.export,
#tbl_mahasiswaAsing button.export,
#tbl_matkulBaru button.export,
#tbl_matkulBatal button.export,
#tbl_matkulTawar button.export,
#tbl_dosenTetap button.export,
#tbl_dosenIndustri button.export,
#tbl_pppDosen button.export,
#tbl_kerjasamaPPP button.export,
#tbl_presNonAkademik button.export,
#tbl_presAkademik button.export,
#tbl_dosens3 button.export,
#tbl_jabfungth button.export,
#tbl_persenjabfungth button.export,
#tbl_dosentetapinf button.export,
#tbl_dosenindustriinf button.export,
#tbl_mahasiswambkm button.export,
#tbl_reratasksmbkm button.export,
#tbl_dosbingmbkm button.export,
#tbl_jumlmitrambkm button.export,
#tbl_mhsrasio button.export,
#tbl_jumlmitrambkm button.export,
#tbl_pkmDosenMhs button.export,
#tbl_telitiDosenMhs button.export,
#tbl_kerjaTeliti button.export,
#tbl_kerjaPKM button.export,
#tbl_Sitasi button.export,
#tbl_HKIDosen button.export,
#tbl_TTGUDosen button.export,
#tbl_BukuDosen button.export,
#tbl_pubMhs button.export,
#tbl_ttguMhs button.export,
#tbl_HKIMhs button.export,
#tbl_reTelitiDosen button.export,
#rePubDosen button.export,
#tbl_MsTgglulusan button.export,
#tbl_wirausaha button.export,
#tbl_bidangKerja button.export,
#tbl_MsTgglulusan button.export,
#tbl_rateGol button.export,
#tbl_Layanan button.export,
#tbl_skill button.export,
#tbl_persen_mhsLulus button.export,
#tbl_persen_mhsLulusAngkt button.export,
#tbl_pppDs button.export,
#tbl_mitraeksternal button.export,
#tbl_mitrainternal button.export,
#tbl_rekognisiDosen button.export,
#tbl_kegiatanDosen button.export,
#tbl_prestasiMhs button.export,
#tbl_NonprestasiMhs button.export,
#tbl_kulummou button.export,
#tbl_pesertaKulum button.export
#tbl_ttgumhs button.export,
#tbl_skripmhs button.export
{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 5px 10px 20px #ebedeb;
    border: 1px solid #fafafa;
    color: white;
    background-color: #2780e3;
    margin-left: 15px;
    margin-top: 25px;
    right: 0;
}

#card_menu {
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    box-shadow: 0 6px 8px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    border: 1px solid #fafafa;
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    margin: 10px;
    width: 360px;
}

#card_menu:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.export{
    position: absolute;
    top:95%;
    right: 50%;
    font-type: sans-serif;
}